---
layout: null
title: coffee&scripts
description: Code, medicine, prog rock. This is the life I live.
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
            <h1>{{site.title}}</h1>
						<h2>{{site.description}}</h2>
						<p>Medicine is my career, code is my hobby, prog rock is my passion. These are the things that make me who I am. These are the musings and stories that describe my life, both how I see it, and how it sees me. Sometimes it is tragic, sometimes insightful, but always fun.</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

						<ul class="icons">
              <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
              <li><a href="https://youtube.com/channel/{{site.youtube}}" class="icon fa-youtube" rel="nofollow"><span class="label">Youtube</span></a></li>
              <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
              <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
              <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
              <li><a href="https://https://steamcommunity.com/id/{{site.steam}}" class="icon fa-steam" rel="nofollow"><span class="label">Steam</span></a></li>
              <li><a href="{{ "/feed.xml/" | absolute_url }}" class="icon fa-rss" rel="nofollow"><span class="label">RSS</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2><a href="#">My name is Erin.</a></h2>
									<p>If you don't already know, I study medicine, code for fun and love prog rock.<br />
                    Putting all of these together I become the person I am now, <br />
                    and here I am trying to be handsome...</p>
								</header>
								<a href="#" class="image main"><img src="{{ "/images/front/front_me.jpg" | absolute_url }}" alt="" /></a>
                <p>In this little blog, I hope to be able to put all the things that are in my head into some place that I can go back to and think about how I have grown and changed. It should be a bit like a diary.</p>
                <p>It will also function a little bit like a resume as well since I hope to document my creations and successes, maybe some failures as well. These are the things that I work for, academically, professionally and musically. I love to create things, and this is just a small example of what I enjoy making.</p>
				<p>Maybe along the way I'll be able to change one life, or maybe a few. That's what I really would love to do with my creations. But easier said than done, but simply talking won't help me achieve my goals. This is my journey.</p>
							</article>

						<!-- Posts -->
							<section class="posts">
                {% for post in site.posts limit:3 %}
                {% assign mod3 = forloop.index | modulo: 3 %}
  								<article>
  									<header>
  										<span class="date">{{ post.date | date_to_string }}</span>
  										<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  									</header>
  									<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
  									<p>{{ post.excerpt }}</p>
  									<ul class="actions">
  										<li><a href="{{ post.url | absolute_url }}" class="button">Full Post</a></li>
  									</ul>
  								</article>
  				<!--
                  {% if mod3 == 0 %}
                  <article>
  									<header>
  										<h2><a href="#">Sponsored</a></h2>
  									</header>

  								</article>
                  {% endif %}-->
                {% endfor %}

							</section>

						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="{{ "/blog/" | absolute_url }}" class="button">My Blog</a></li>
                </ul>
							</footer>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
